*{
	font-family: 'Roboto', sans-serif;

}
header{
	border-bottom: 1px solid #efefef;
	width: 100%;
	margin-top: 0;
	display: inline-flex;

	nav{
		display: inline-flex;
		
		#icon__pinteres{
			font-size: 300%;
			color: #bc071a;
			margin-left: 3%;
			margin-right: 2%;
		}
		h3{
			font-family: arial;
			margin-right: 4%;
		}
		#icon__search{
			font-size: 130%;
			color: #b5b5b5;
			height: 42%;
			margin-top: 13px;
			background-color: #efefef;
			padding-left: 1%;
			padding-right: 2%;
			padding-top: 5px;
			padding-bottom: 2px;
		}

		#input__text{
			height: 51%;
			width: 850px;
			background-color: #efefef;
			border: none;
			border-right: 1px solid #d8d8d8;
			margin-top: 1%;
			font-family: arial;
		
		}
		#boton__search{
			margin-top: 1%;
			height: 54%;
			width: 15%;
			border: none;
			background-color: #efefef;
			margin-right: 2%;
		}
		#icon__profile{
			font-size: 250%;
			margin-top: 7px;
			margin-right: 1%;
		}
		h4{
			font-family:arial;
			margin: 1% 1% 0% 0%;
			margin-right: 2%;
		}
		#icon__hambuerg{
			font-size: 140%;
			margin-top: 1%;
			margin-right: 2%;
		}
		#icon__mensj{
			font-size: 140%;
			margin-top: 1%;
			margin-right: 2%;	
			background-color: #efefef;
			border-radius: 40px ;
			padding: 7px;
			height: 40%;
			width: 3%;
			margin-top: 1px;		
		}

	}
}
.insercion{
	background-color: #fbfbfb;

}
.conten {
	
	padding-top: 6%;
	margin-left: 9%;
	width: 90%;	
	display: flex;
	flex-wrap: wrap;

	
	img{
			width: 100%;
			height: auto;
			border-radius: 20px;

			

		}
		a{
			width: 200px;
			margin-right: 8%;
			background-color: white;
			padding-bottom: 0%;
    		margin-bottom: 2%;
    		border-radius: 20px;
    		box-shadow: 5px 10px 5px #888888;


		}
		h2{
			
			display: flex;
			justify-content: center;
			width: 78%;
			margin: 0;
			font-size: 80%;
			font-weight: 700;
			color: black;
			padding-left: 5%;
    		padding-right: 5%;

		}
		h3{
			font-family: arial;
			display: flex;
			width: 78%;
			margin: 0;
			font-size: 70%;		
			text-align: justify;
			font-weight: 300;
			padding-left: 5%;
    		padding-right: 5%;	
		}
		h5{
			font-family: arial;
			display: flex;
			text-align: left;
			width: 78%;
			margin: 0;
			font-size: 70%;
			font-weight: 300;
			padding-left: 5%;
    		padding-right: 5%;				
		}	
		p{
			display: flex;
			width: 82%;
			text-align: left;
			margin-top: 0;
			margin-bottom: 5%;
			font-size: 70%;
			font-weight: 700;
			padding-left: 5%;
    		padding-right: 5%;
		}
	}
	.base{		
		display: flex;
		background-color: white;
		padding-bottom: 10%;
		border-radius: 10px;	
		}



